@{

    Layout = "_LayoutPortal2";
}
@model IEnumerable<TicketWeb.Data.ChuyenBay>


@{
    ViewData["Title"] = "Quản lí chuyến bay";
}

<h1>Quản lí chuyến bay</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaChuyenBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanBayDi_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanBayDen_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianDuKienBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoGhe_Hang1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoGhe_Hang2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MayBayID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaChuyenBay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanBayDi_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanBayDen_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianDuKienBay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGhe_Hang1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGhe_Hang2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MayBayID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
